$breakpoint-tablet: 768px;
$breakpoint-mobile: 580px;
$breakpoint-small: 280px;

.header {
  background: rgba(0, 0, 0, 0.9);
  position: sticky;
  top: 0;
  z-index: 100;
  .headerContainer {
    display: flex;
    align-items: center;
    max-width: 1250px;
    margin: auto;
    height: 100px;
    z-index: 100;
    font-family: "Poppins", sans-serif;

    .navMenu {
      display: none;
    }
    .headerLogo {
      width: 100px;
      object-fit: contain;
      margin: auto 0;
      padding-left: 5px;
    }
    .headerSearch {
      display: flex;
      align-items: center;
      //flex: 1;
      position: relative;
      .headerSearchInput {
        width: 400px;
        height: 40px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        border: none;
        outline: none;
        padding: 0 30px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
      }
      .headerSearchIcon {
        position: absolute;
        right: 0;
        background: rgba(255, 178, 28, 0.8);
        border-radius: 20px;
        width: 60px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
    .headerNav {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      margin: auto 0 auto auto;
      width: 400px;
      justify-content: space-between;
      color: rgba(255, 255, 255, 0.9);
      .headerOption {
        text-transform: uppercase;
        .headerLink {
          color: rgba(255, 255, 255, 0.9);
          padding: 0 10px;
          display: block;
        }
        .headerLink.link {
          position: relative;
          span {
            padding: 0 8px;
            border-radius: 20px;
            cursor: pointer;
          }
          .linkMenu {
            position: absolute;
            top: 80px;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(20px);
            border-radius: 10px;
            padding: 10px;
            opacity: 0;
            transition: 0.5s;
            visibility: hidden;
            .subLinkMenu {
              color: rgba(255, 255, 255, 0.9);
              padding-top: 10px;
              cursor: pointer;
            }
          }
          .linkMenu.show {
            top: 40px;
            opacity: 1;
            transition: 0.5s;
            visibility: visible;
          }
        }

        .headerBasket {
          position: relative;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          padding-right: 10px;

          div {
            position: absolute;
            color: #ff8a00;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .header {
    .headerContainer {
      .navMenu {
        position: relative;
        display: block;
        .menuIcon {
          cursor: pointer;
        }
        .menuLinks {
          position: absolute;
          top: -40px;
          left: -80px;
          width: 283px;
          height: 900px;
          background: rgba(0, 0, 0, 0.8);
          box-shadow: 20px 0px 100px rgba(0, 0, 0, 0.53);
          backdrop-filter: blur(20px);
          padding: 40px 20px;
          z-index: 10;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s;
          .menuHeader {
            display: flex;
            align-items: center;
            justify-content: left;
            padding-bottom: 50px;
            .picture {
              width: 40px;
              height: 40px;
              border-radius: 20px;
              object-fit: contain;
            }
            .menuTitle {
              font-size: 12px;
              color: rgba(255, 255, 255, 0.9);
              padding-left: 15px;
              text-transform: uppercase;
              .signinLink {
                color: rgba(255, 255, 255, 0.9);
              }
            }
          }
          .menuLink {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            padding: 0 40px 25px;
            .link {
              color: rgba(255, 255, 255, 0.8);
            }
          }
        }
        .menuLinks.open {
          left: 0;
          visibility: visible;
          opacity: 1;
          transition: 0.3s;
        }
      }
      .headerNav {
        .headerOption {
          .headerLink {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .header {
    .headerContainer {
      .headerSearch {
        width: 100%;
        .headerSearchInput {
          width: 100%;
          height: 28px;
          padding-right: 40px;
        }
        .headerSearchIcon {
          height: 28px;
          width: 40px;
        }
      }
      .headerNav {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-small) {
  .header {
    .headerContainer {
      .navMenu {
        .menuLinks {
          width: 240px;
        }
      }
      .headerSearch {
        .headerSearchInput {
          padding-left: 10px;
        }
      }
    }
  }
}
